In [1]:
print("hello world")

hello world

In [6]:
x = 5 # this is an int
y = 23.5 # this is a double
z = False # this is a bool

a = [1,4,6,7,8,864,3,34] # this is an array or list
b = (3,5,677,7,6,5,3,2) # this is a tuple, an immuatble array
d = {
    1: "john",
    2: "joe",
    3:"jack"
} # this is a dicitonary, key value pairs

print(x + y) # arithmetic
print(x - y)
print(x * y)
print(x / y)
print(x ** y)
print(x % y)

28.5
-18.5
117.5
0.2127659574468085
2.6656007498500224e+16
5.0

In [12]:
# if statement
if z:
    print("Z IS TRUE")
else:
    print("Z MUST BE FALSE")

if not z:
    print("Z IS NOT TRUE")
else:
    print("Z IS NOT FALSE")

Z MUST BE FALSE
Z IS NOT TRUE

In [14]:
if x > y:
    print("x is greater than y")
elif x == y:
    print("x is equal to y")
else:
    print("x is less than y")

x is less than y

In [ ]:
x += y # adds x and y, but saves it into the variable x

In [18]:
days = ("Sunday", "Monday", "Tuesday", "Wednesday","Thursday", "Friday", "Saturday")
print("Sunday" in days)
# checks if a value is in a tuple

True

In [23]:
for each in days: # for loop
    print(each)

for i in range(0,10): # for loop
    print(i)

h = 0
while h > -10:
    print(h)
    h-=1

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
0
1
2
3
4
5
6
7
8
9
0
-1
-2
-3
-4
-5
-6
-7
-8
-9

In [30]:
def print_sum(x, y):
    print(x + y)

print_sum(34,5)
print_sum(109,10)

39
119

In [29]:
def return_sum(x, y):
    return(x + y)

print(return_sum(34,5))
print(return_sum(109,10))

39
119

In [33]:
class Fruit:
    name = "apple"
    price = 15

    def eat(self):
        print("eaten!")

f = Fruit()
print(f.name)
f.eat()

apple
eaten!